.div1 .card1 {
    background-color: #ecf1fe;
    border-radius: 20px;
}

ion-content {
    --background: #d5dcf3;
}

ion-item {
    --background: #ecf1fe;
    --color: gray;
}

#aj {
    --background: #95bea9;
    --color: white;
}
