<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img
          src="../../assets/retour.png"
          style="width: 9%; left: 5; position: absolute"
          alt="tt"
        />
        Retour
      </ion-button>
    </ion-buttons>
    <ion-title> Choix du repas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="filterIngredients($event)"  [formControl]="searchField" debounce="100" (ionClear)="initiazileIngredients()"></ion-searchbar>

  <img  src="assets/img/diet.jpg"
  alt="img" />
  <ion-list style="    position: relative;
  top: -351px;
" lines="none"  *ngIf="display">
    <ion-item *ngFor="let ingredient of ingredientsList ">
      <ion-label  (click)="ajouterIngredientChoisi(ingredient)" >{{ ingredient.libelle }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full able-auto text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr>
                <th scope="col" class="px-6 py-3" style="font-size: 9px;">Ingredient</th>
               
        <th scope="col" class="px-6 py-3 text-xs" style="font-size: 9px;">Poids</th>
        <th scope="col" class="px-6 py-3" style="font-size: 9px;">Proteines</th>
        <th scope="col" class="px-6 py-3" style="font-size: 9px;">Glucides</th>
        <th scope="col" class="px-6 py-3" style="font-size: 9px;">Lipides</th>
        <!-- <th scope="col" class="px-6 py-3">Energies</th> -->

      </tr>
<!-- 
   <tbody>
        <tr *ngFor="let ingredient of ingredientChoisiList" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">


        <td scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">  
      
          <h1 >{{ingredient.libelle}}</h1>
        </td>
        






        <td>
          <div class="input-group">
          <input class="form-control" type="number" min="0" step="10" placeholder="Poids"  value={{poids}}   [(ngModel)]="poids_predefini" /> 
        </div> </td>
        <td>{{ConvertString(ingredient.proteines) * poids_predefini /100 }} g</td>
         <td>{{ConvertString(ingredient.glucides) * poids_predefini /100 }}  g</td>
        <td>{{ConvertString(ingredient.lipides) * poids_predefini /100 }}  g</td>
        <td>{{ConvertString(ingredient.energie_ue) * poids_predefini /100 }}  g</td>
        <td class="px-6 py-4 text-right">
          <a  class="font-medium text-red-600 dark:text-red-500 hover:underline"  (click)="retirerIngredient(ingredient)" >Retirer</a>
      </td>

      </tr>
    </tbody>
 -->

      <tbody>
        <tr *ngFor="let ingredient of ingredientChoisiList" class="bg-white border-b">


        <td scope="row"  style="word-break:break-word" class="px-6 py-4 font-medium text-gray-900">  
      
          <h1 style="font-size: 9px;">{{ingredient.libelle}}</h1>
        </td>
        <td><div class="input-group">
          <!-- <input class="form-control" type="number" min="0" step="10" placeholder="Poids" value={{poids}}  (keyup)="pourPortionPoids($event.target.value )" ng-model="ingredient.poids" />  -->
          <span class="input-group-addon"> {{poids}}g</span>
        </div> </td>
        <td style="font-size: 9px;">{{ingredient.proteines}} g</td>
        <td style="font-size: 9px;">{{ingredient.glucides}} g</td>
        <td style="font-size: 9px;">{{ingredient.lipides}} g</td>
        <!-- <td>{{ingredient.energie}} g</td> -->
        <td class="px-6 py-4 text-right">
          <a  class="font-medium text-red-600 hover:underline"  (click)="retirerIngredient(ingredient)" >Retirer</a>
      </td>

      </tr>
    </tbody>


      <tfoot>
        <tr>
          <th class="text-right" style="font-size: 9px;">Total</th>
          <th style="font-size: 9px;">{{totaux.poids}} g</th>
          <th class="text-center" style="font-size: 9px;" >{{totaux.proteines }} g </th>
          <th class="text-center" style="font-size: 9px;">{{totaux.glucides }} g </th>
          <th class="text-center" style="font-size: 9px;">{{totaux.lipides }} g</th>
          <!-- <th class="text-center">{{totaux.energie }} kcal</th> -->
        </tr>
        <!-- <tr>
          <th class="text-right">Pour une portion de</th>
          <th>
            <div class="input-group">
              <input class="form-control" value="{{poidsPortion}}" type="number" min="0" step="10" placeholder="Poids" ng-model="poidsPortion" />
              <span class="input-group-addon">g</span>
            </div>
          </th>
          <th class="text-center">{{pourPortionPoids(totaux.proteines)}} g</th>
          <th class="text-center">{{pourPortionPoids(totaux.glucides) }} g</th>
          <th class="text-center">{{pourPortionPoids(totaux.lipides)}} g</th>
          <th class="text-center">{{pourPortionPoids(totaux.energie) }} kcal</th>
          <th></th>
        </tr>
        <tr>
          <th class="text-right form-inline">
            Pour <input class="form-control text-center" value="{{nombrePortions}}"  type="number" min="1" style="width: 5em" placeholder="n" ng-model="nombrePortions" /> portions de
          </th>
          <th>{{pourNombrePortions(totaux.poids) }} g</th>
          <th class="text-center">{{pourNombrePortions(totaux.proteines)}} g</th>
          <th class="text-center">{{pourNombrePortions(totaux.glucides) }} g</th>
          <th class="text-center">{{pourNombrePortions(totaux.lipides)}} g</th>
          <th class="text-center">{{pourNombrePortions(totaux.energie)}} kcal</th>
          <th></th>
        </tr> -->
      </tfoot>
      
     
    </table>
    <button
    style="margin:80px ;"
    class="shadow m-55 content-center bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
    type="submit"
    expand="block"
    id="aj"
    (click)="enregistrerRepas()"
  >
    Enregistrer
  </button>
  </div>

</ion-content>
