<ion-header>
  <ion-toolbar>
    <ion-title>repas-moment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="filterIngredients($event)"  [formControl]="searchField" debounce="100" (ionClear)="initiazileIngredients()"></ion-searchbar>

  <ion-list lines="none"  *ngIf="display">
    <ion-item *ngFor="let ingredient of ingredientsList ">
      <ion-label  (click)="ajouterIngredientChoisi(ingredient)" >{{ ingredient.libelle }}</ion-label>
    </ion-item>
  </ion-list>

  <table>

    <table>
      <tr>
        <th>Ingredient</th>
               
        <th>Poids</th>
        <th>Proteines</th>
        <th>Glucides</th>
        <th>Lipides</th>
        <th>Energies</th>

      </tr>
      <tr  *ngFor="let ingredient of ingredientChoisiList">

        <td>  
      
          <h1 >{{ingredient.libelle}}</h1>
        </td>
        <td><div class="input-group">
          <input class="form-control" type="number" min="0" step="10" placeholder="Poids" value={{poids}}  (keyup)="pourPortionPoids($event.target.value )" ng-model="ingredient.poids" />
          <span class="input-group-addon">g</span>
        </div> </td>
        <td>{{ingredient.proteines}} g</td>
        <td>{{ingredient.glucides}} g</td>
        <td>{{ingredient.lipides}} g</td>
        <td>{{ingredient.energie}} g</td>
      </tr>


      <tfoot>
        <tr>
          <th class="text-right">Total</th>
          <th>{{totaux.poids}} g</th>
          <th class="text-center">{{totaux.proteines }} g </th>
          <th class="text-center">{{totaux.glucides }} g </th>
          <th class="text-center">{{totaux.lipides }} g</th>
          <th class="text-center">{{totaux.energie }} kcal</th>
          <th></th>
        </tr>
        <tr>
          <th class="text-right">Pour une portion de</th>
          <th>
            <div class="input-group">
              <input class="form-control" value="{{poidsPortion}}" type="number" min="0" step="10" placeholder="Poids" ng-model="poidsPortion" />
              <span class="input-group-addon">g</span>
            </div>
          </th>
          <th class="text-center">{{pourPortionPoids(totaux.proteines)}} g</th>
          <th class="text-center">{{pourPortionPoids(totaux.glucides) }} g</th>
          <th class="text-center">{{pourPortionPoids(totaux.lipides)}} g</th>
          <th class="text-center">{{pourPortionPoids(totaux.energie) }} kcal</th>
          <th></th>
        </tr>
        <tr>
          <th class="text-right form-inline">
            Pour <input class="form-control text-center" value="{{nombrePortions}}"  type="number" min="1" style="width: 5em" placeholder="n" ng-model="nombrePortions" /> portions de
          </th>
          <th>{{pourNombrePortions(totaux.poids) }} g</th>
          <th class="text-center">{{pourNombrePortions(totaux.proteines)}} g</th>
          <th class="text-center">{{pourNombrePortions(totaux.glucides) }} g</th>
          <th class="text-center">{{pourNombrePortions(totaux.lipides)}} g</th>
          <th class="text-center">{{pourNombrePortions(totaux.energie)}} kcal</th>
          <th></th>
        </tr>
      </tfoot>
      
     
    </table>
    
  </table>      
</ion-content>
