<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <img src="assets/img/slide1.png" />
        <h2>Bienvenue</h2>
        <p>
          Nous sommes heureux de vous compter parmi nos utilisateurs. 
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/slide2.png" />
      <h2>Améliorer votre santé</h2>
      <p>
          Nous vous proposons beaucoup de fonctionnalités qui vous permettront de suivre et d'améliorer votre santé
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/slide3.png" />
      <h2>Etês-vous diabétique? </h2>
      <p>Notre application vous aidera pour votre regime et aussi pour le suivi de votre taux glycemique.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/slide4.png" />
      <h2>Vous êtes prêts</h2>
      <ion-button (click)="goTo()" fill="clear"
        >Oui, allons-y!!! <ion-icon slot="end" name="arrow-forward"></ion-icon
      ></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
