@import url("https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap");

ion-content {
  --gray: #797d7f;

  --background: linear-gradient(to right, #b91d73, #f953c6);
}

.main_content_div {
  width: 100%;
  .menu_btn {
    position: relative;
    top: 40px;
    left: 10px;
  }

  .user_div {
    padding: 20px;
    width: 100%;
    height: 260px;
    --background: linear-gradient(to right, #b91d73, #f953c6);
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
  }
  .first-div {
    padding-top: 45px;
    .welcome {
      font-size: 18px;
      color: white;
      font-weight: 500;
    }
    .username {
      font-size: 24px;
      color: white;
      font-weight: 600;
    }
  }
  .user_back {
    height: 100px;
    width: 80px;
    border: 3px solid white;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
  }
}

.content-div {
  background: #f9f7f7;
  width: 100%;
  border-top-right-radius: 32px;
  margin-top: -530px;
  padding-top: 30px;
  height: 100vh;
  border-top-left-radius: 32px;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fbfbfb;

  .hello_lbl {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-top: 10px;
  }
}

// IMPORT
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,900");

// Variables
$mainC: #f1f3f6;
$secC: #9dabc0;
$svgC: rgba(#929cd0, 0.8);
$sz: 300px;

// Placeholders
%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Main Structure
.container {
  width: 100%;
  height: 97vh;
  // border: 1px solid black;
}

.box {
  @extend %center;
  margin-left: 10px;
  float: left;
  flex-direction: column;
  width: 100px;
  height: 100px;
  // border: 1px solid #fff;
  background: $mainC;
  border-radius: 20px;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.box-1 {
  @extend %center;
  margin-left: 5px;
  margin-top: 15px;
  float: left;
  flex-direction: column;
  width: 94%;
  height: 100px;
  // border: 1px solid #fff;
  background: $mainC;
  border-radius: 20px;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.box-info {
  @extend %center;
  margin-left: 28px;
  float: left;
  flex-direction: column;
  margin-bottom: 20px;
  width: 90%;
  height: 100px;
  // border: 1px solid #fff;
  background: $mainC;
  border-radius: 20px;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.content-text p {
  text-align: center;
  color: var(--gray);
  font-family: "Raleway", sans-serif;
}
.content-text h1 {
  text-align: center;
  font-weight: 900;
  font-size: 23px;
  font-family: "Raleway", sans-serif;
}

ion-card {
  width: 38%;
  margin-left: 26px;
  float: left;
}

ion-card-subtitle {
  font-family: "Raleway", sans-serif;
  color: var(--gray);
  font-size: 18px;
  text-align: center;
}

.image {
  float: right;
  position: relative;
  margin-top: -104px;
  margin-right: -267px;
}

$bg: #232a3d;
$c: #ffffff;
$n: #ff4c13;
$d: 10em;
$t: 2.2s;

html,
body {
  background: $bg;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  left: 145px;
  bottom: 60px;

  .notification {
    position: relative;
    width: $d;
    height: $d;

    svg {
      width: $d;
      height: $d;

      > path {
        fill: $c;
      }
    }

    &--bell {
      animation: bell $t linear infinite;
      transform-origin: 50% 0%;
    }

    &--bellClapper {
      animation: bellClapper $t 0.1s linear infinite;
    }

    &--num {
      position: absolute;
      top: -10%;
      /* left: 50%; */
      font-size: 2.25rem;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: #ff4c13;
      border: 4px solid #ff4c13;
      color: #ffffff;
      font-size: 12px;
      text-align: center;
      font-weight: bold;
      animation: notification 2.2s linear;
    }
  }
}

@keyframes bell {
  0%,
  25%,
  75%,
  100% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  55% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-8deg);
  }
}

@keyframes bellClapper {
  0%,
  25%,
  75%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-0.15em);
  }
  45% {
    transform: translateX(0.15em);
  }
  55% {
    transform: translateX(-0.1em);
  }
  60% {
    transform: translateX(0.1em);
  }
}

@keyframes notification {
  0%,
  25%,
  75%,
  100% {
    opacity: 1;
  }
  30%,
  70% {
    opacity: 0;
  }
}
