<ion-header> </ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>Diabète care</h1>
    </div>
    <img src="assets/img/home-icon.jpg" />
    <div class="button-container">
      <ion-button
        expand="block"
        class="main-button"
        routerLink="/login"
        routerDirection="forward"
        >Connexion</ion-button
      >
      <ion-button
        expand="block"
        color="dark"
        fill="clear"
        routerLink="/register"
        routerDirection="forward"
        >Inscription</ion-button
      >
    </div>
  </div>
</ion-content>
