
  ion-toolbar{
    margin-top: 6%;
}
ion-title {
  font-weight: 600;
}

ion-card {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: 5px;
  
  img {
      object-fit: cover;
      width: 100%;
      height: 200px;
      transform: scale(1.1, 1.1) rotate(1deg);
      transition: 600ms all ease-in-out;
  }
}

.swiper-slide-active {
  transform: scale(1.05, 1.05);

  ion-card {
      img {
          transform: scale(1, 1);
      }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}